body {
  /* background: linear-gradient(to bottom, #8fa0a5, #0072ff); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-sunny {
  background: linear-gradient(to bottom, #ffcb1f, #ffb800);
}

.weather-cloudy {
  background: linear-gradient(to bottom, #c1c1c1, #777777);
}

.weather-rain {
  background: linear-gradient(to bottom, #536976, #292e49);
}

.weather-default {
  background: linear-gradient(to bottom, #243a41, #011022);
}

.weather-app {
  margin-top: 2rem;
}

.weather {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: rgba(243, 234, 234, 0.9);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.weekly-forecast {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.day-forecast {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); /* Updated box shadow */
  padding: 20px;
  transition: transform 0.3s ease-in-out; /* Added transition effect */
}

.day-forecast:hover {
  transform: translateY(-5px); /* Added hover effect */
}

.day-forecast h3 {
  margin-top: 0;
  color: #0b0b0b; /* Added text color */
}

.day-forecast p {
  margin: 10px 0;
  color: #555; /* Added text color */
}

input {
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #2bb62b;
}
